/* This file is for your main application css. */
* {
  font-family: Fira Mono, Helvetica, sans-serif;
}

.borderless td, .borderless th {
  border: none;
}

table a {
  font-size: 0.9em;
}

.help-block {
  color: #ed5249;
  font-size: medium;
  font-family: monospace;
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 1.4em;
  font-weight: bold;
}
